<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.generate.mapper.FdqBasicMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  fdq_basic 
		WHERE
			 plate_number = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.generate.entity.FdqBasic">
		SELECT * 
		FROM  fdq_basic
		WHERE
			 plate_number = #{mainId} 	</select>
</mapper>
