<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.generate.mapper.FdqControllerMapper">

    <delete id="deleteByMainId" parameterType="java.lang.String">
        DELETE
        FROM fdq_controller
        WHERE plate_number = #{mainId}    </delete>

    <select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.generate.entity.FdqController">
        SELECT *
        FROM fdq_controller
        WHERE plate_number = #{mainId}
        order by create_time desc limit 100
    </select>
    <select id="selectCountKwh" resultType="java.util.Map">
        WITH max_kwh_car_data AS (SELECT PLATE_NUMBER,
                                         RUNNING_HOURS,
                                         KWH,
                                         ROW_NUMBER() OVER (
            PARTITION BY PLATE_NUMBER
            ORDER BY KWH DESC
        ) AS rn
                                  FROM FDQ_CONTROLLER)
        SELECT SUM(RUNNING_HOURS) AS RUNNING_HOURS,
               SUM(KWH)           AS KWH
        FROM max_kwh_car_data
        WHERE rn = 1;
    </select>
    <select id="selectOrderCount" resultType="java.util.Map">
        select count(1) as COUNT_NUM, ORDER_TYPE
        from FDQ_ORDER
        GROUP BY ORDER_TYPE
    </select>
    <select id="selectOrderCountByTime" resultType="java.util.Map">
        select count(1) as COUNT_NUM, ORDER_TYPE
        from FDQ_ORDER
        where PLATE_NUMBER is not null
        <if test="startTime != null">
            and CREATE_TIME like concat('%',#{startTime},'%')
        </if>
        GROUP BY ORDER_TYPE
    </select>
    <select id="getStat" resultType="org.jeecg.generate.vo.AppStatVO">
        WITH vehicle_latest_data AS (SELECT PLATE_NUMBER,
                                            KWH,
                                            CREATE_TIME,
                                            LAG(KWH) OVER (PARTITION BY PLATE_NUMBER ORDER BY CREATE_TIME) AS lastKwh
                                     FROM FDQ_CONTROLLER
                                     WHERE CREATE_TIME >= TRUNC(SYSDATE - 2)),
             daily_data AS (SELECT PLATE_NUMBER,
                                   TRUNC(CREATE_TIME) AS createTime,
                                   KWH - lastKwh      AS dayVolume
                            FROM vehicle_latest_data),
             vehicle_daily_total AS (SELECT PLATE_NUMBER   AS plateNumber,
                                            createTime,
                                            SUM(dayVolume) AS carDayVolume
                                     FROM daily_data
                                     WHERE createTime >= TRUNC(SYSDATE - 1)
                                     GROUP BY PLATE_NUMBER, createTime),
             date_total AS (SELECT createTime,
                                   SUM(carDayVolume) AS allCarDayVolume
                            FROM vehicle_daily_total
                            GROUP BY createTime)
        SELECT COALESCE(MAX(CASE WHEN createTime = TRUNC(SYSDATE - 1) THEN allCarDayVolume END), 0) AS lastVolume,
               COALESCE(MAX(CASE WHEN createTime = TRUNC(SYSDATE) THEN allCarDayVolume END), 0)     AS volume
        FROM date_total;

    </select>

</mapper>
