<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.generate.mapper.FdqPropertyMapper">

    <select id="selectCountKwh" resultType="java.util.Map">
        select NEXT_REPAIR, KWH, RUNNING_HOURS
        from FDQ_PROPERTY
        where plate_number = #{plate}
    </select>
    <select id="getStat" resultType="org.jeecg.generate.vo.AppStatVO">
        select count(1)                                            as carCount,
               (SELECT count(1)
                FROM FDQ_PROPERTY
                where CREATE_TIME LIKE concat('%', #{month}, '%')) AS lastCarCount
        from FDQ_PROPERTY
    </select>
    <select id="getPlate" resultType="java.lang.String">
        select plate_number
        from fdq_property
    </select>

</mapper>
