<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.generate.mapper.FdqPropertyMapper">

    <select id="selectCountKwh" resultType="java.util.Map">


        WITH max_kwh_car_data AS (SELECT PLATE_NUMBER,
                                         RUNNING_HOURS,
                                         KWH,
                                         NEXT_REPAIR,
                                         ROW_NUMBER() OVER (
            PARTITION BY PLATE_NUMBER
            ORDER BY KWH DESC
        ) AS rn
                                  FROM FDQ_CONTROLLER
                                  WHERE PLATE_NUMBER = #{plate})
        SELECT SUM(RUNNING_HOURS) AS RUNNING_HOURS,
               SUM(KWH)           AS KWH,
               SUM(NEXT_REPAIR)   as NEXT_REPAIR
        FROM max_kwh_car_data
        WHERE rn = 1;


    </select>

</mapper>
