<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.ftu.mapper.FtuWarnInfoMapper">
    <delete id="deleteByMainId" parameterType="java.lang.String">
        DELETE
        FROM  ftu_warn_info
        WHERE
            device_id = #{mainId} 	</delete>

    <select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.ftu.entity.FtuWarnInfo">
        SELECT *
        FROM  ftu_warn_info
        WHERE
            device_id = #{mainId} 	</select>
</mapper>
